<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="#"
      [routerLink]="['']"
      routerLinkActive="active"
      >Tania's Kitchen</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            [routerLink]="['/cart']"
            routerLinkActive="active"
            >Cart</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        @if (!isAuthenticated()) {

        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Sign In</a
          >
        </li>
        } @else {

        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link"
            id="dropdownMenuButton1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            {{ displayName() || "Anonymous" }}
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                ngbDropdownItem
                href="#"
                [routerLink]="['/profile']"
                routerLinkActive="active"
                >Profile</a
              >
            </li>
            <li>
              <a
                ngbDropdownItem
                href="#"
                [routerLink]="['/']"
                (click)="onLogout()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        }
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link"
            id="dropdownMenuButton1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Admin
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                ngbDropdownItem
                [routerLink]="['/admin/users']"
                routerLinkActive="active"
                >Users</a
              >
            </li>
            <li>
              <a
                ngbDropdownItem
                [routerLink]="['/admin/products']"
                routerLinkActive="active"
                >Products</a
              >
            </li>
            <li>
              <a
                ngbDropdownItem
                [routerLink]="['/admin/orders']"
                routerLinkActive="active"
                >Orders</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
