@if(loading()) {
<app-loading-spinner />
}@else {

<div class="row">
  <div class="col"><h5>Users</h5></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ADMIN</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (user of users(); track user.localId) {
    <tr>
      <th scope="row">{{ user.localId }}</th>
      <td>
        {{ user.displayName }}
      </td>
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onEdit(user.localId)"
        >
          Edit
        </button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
