<div class="row">
  <div class="col"><h5>Products</h5></div>
  <div class="col text-end">
    <button class="btn btn-primary">Create Product</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (recipe of recipes(); track recipe.id) {
    <tr>
      <th scope="row">{{ recipe.id }}</th>
      <td>
        <img
          [src]="recipe.imagePath"
          [alt]="'The flag of ' + recipe.name"
          class="me-2"
          style="width: 20px"
        />
        {{ recipe.name }}
      </td>
      <td>{{ recipe.price }}</td>
      <td></td>
    </tr>
    }
  </tbody>
</table>
