<div class="row">
  <div class="col-md-6">
    <img
      [src]="recipe?.imagePath"
      alt="{{ recipe?.name }}"
      class="card-img-top"
    />
  </div>
  <div class="col-md-3">
    <div class="list-group-item list-group-item-flush">
      <h5>{{ recipe?.name }}</h5>
    </div>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Reviews <ngb-rating [rate]="5" [max]="5" [readonly]="true" />
        </li>
        <li class="list-group-item">Price: ${{ recipe?.price }}</li>
        <li class="list-group-item">Description: {{ recipe?.description }}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <div class="row">
            <div class="col">Price:</div>
            <div class="col">${{ recipe?.price }}</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col">Status:</div>
            <div class="col">
              {{
                recipe && recipe.countInStock > 0 ? "In Stock" : "Out of Stock"
              }}
            </div>
          </div>
        </div>
        @if (recipe && recipe.countInStock > 0) {
        <div class="list-group-item">
          <div class="row">
            <div class="col"><label for="">Qty:</label></div>
            <div class="col">
              <select
                class="form-control"
                id="countInStock"
                [formControl]="selectedOption"
              >
                @for (count of countInStock(); track $index) {
                <option [value]="count + 1">{{ count + 1 }}</option>
                }
              </select>
            </div>
          </div>
        </div>
        }
        <div class="list-group-item">
          <div class="row">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="recipe && recipe.countInStock === 0"
              (click)="addToCart(recipe!)"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5>Reviews</h5>
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <strong>Matheus Silva</strong>
        <ngb-rating [rate]="5" [max]="5" [readonly]="true" />
        <p>2023-11-13</p>
        <p>Good</p>
      </div>
      <div class="list-group-item">
        <h5>Write a Customer Review</h5>
        <form action="">
          <div class="form-group">
            <label for="">Rating</label>
            <select class="form-control" id="">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Comment</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
