@if (error) {
<app-error-message [error]="error" />
} @if (loading()) {
<app-loading-spinner />
} @else {
<div class="row">
  <div class="col-md-3">
    <h5>User Profile</h5>
    <div class="mb-3">
      <img
        [src]="currentUser()?.photoUrl"
        alt="profile"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="mb-3">
      <p>Name: {{ currentUser()?.displayName }}</p>
    </div>
    <div class="mb-3">
      <p>Email: {{ currentUser()?.email }}</p>
    </div>
    <div class="mb-3">
      <p></p>
      <p>Email: {{ currentUser()?.createdAt | date : "medium" }}</p>
    </div>
    <div class="mb-3">
      <p></p>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">DATE</th>
          <th scope="col">TOTAL</th>
          <th scope="col">PAID</th>
          <th scope="col">DELIVERED</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">66a91d467376a4e9c402aac6</th>
          <td>2024-07-30</td>
          <td>0</td>
          <td>False</td>
          <td>False</td>
          <td>
            <button type="button" class="btn btn-secondary">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
}
